# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules
.npm
.lock-wscript
.node_repl_history

# Editor data
**/.idea/workspace.xml
**/.idea/tasks.xml